.row {
	width: 100%;
}

body {
	font-family: "Helvetica Neue",helvetica,arial,sans-serif;
}

.toggle-button {
	width: 150px;
	margin-left: 0px;
	margin-right: 0px;

	border-width: 1px;

	border-top: 1px solid black;
	border-bottom: 1px solid black;
	/*border-top: 1px solid black;*/

	background-color: white;
	color: black;

}

.toggle-button:disabled {
	cursor: default;
	background-color: rgb(255, 99, 0);
}

.toggle-button:hover {
	background-color: white;
	color: black;
}

.toggle-button:disabled:hover {
	background-color: rgb(255, 99, 0);
}

.d3-tip {
	max-width: 350px;
	max-height: 200px;
}

.btn-group {
	margin-top: 20px;
}

.btn {
	margin-bottom: 5px;
}

.row {
	width: 100%;
}

.map {
	margin: auto;
}

.barchart {
	margin: auto;
}

.player_list {
	list-style: none;
	margin-left: -20px;
}

#timeline-div {
	display: flex;
	align-items: center;
	max-width: 650px;
	margin: auto;
}

#slider-div {
	flex: 1; 
}

#play-button-div {
	width: 55px;
}

#play-button {
	width: 40px;
	text-align: center;
	margin-top: 5px;
}

#yearLabelHeading {
	margin: auto;
	margin-bottom: -15px;
}

#seasonWrapperLabel {
	/*font-size: 20;*/
}

#info-box {
	transform: translate(0, -50px);
	border: 1px solid black;
	height: 450px;
	min-width: 275px;
	max-width: 400px;
	margin: auto;
	margin-right: 10px;
	border-radius: 10px;
	padding-top: 25px;
	background-color: #FFE4B2;
	position: fixed;
}

#player-info-text {
	margin-right: 5px;
	max-height: 400px;
	max-width: 350px;
	overflow-y:auto;
}


