.row {
	width: 100%;
}

.toggle-button {
	width: 150px;
	margin-left: 0px;
	margin-right: 0px;
}

.toggle-button:

.toggle-button:disabled {
	cursor: default;
	/*background-color: gray;*/
}

.d3-tip {
	max-width: 250px;
}

.btn {
	margin-bottom: 5px;
}