<!DOCTYPE HTML>

<head>
	<meta charset="utf-8">
    <meta name="description" content="">
    <title>NBA Origins</title>

    <link rel="icon" href='/static/images/favicon.png'>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- jQuery UI CSS -->
    <script src="static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="static/css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="static/css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="static/css/d3-tip.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">                               
</head>


<body>

	<nav class="navbar navbar-default">
        <div class="container">
        </div>
    </nav>

    <div class="container" style="text-align:center; max-width: 650px;">
        <p>The maps below plot the birthplaces of NBA players for every season since 1947. Setting the toggle to "Active Players" will include only players who logged minutes during a given year, while "All-Time" will display data for players for the whole history of the league up to that point.</p>
    </div>
  		
	<!-- Bootstrap grid setup -->
    <div class="container">
        <div id="selections" class="row" style="text-align: center;">
            <div class="row" id="yearLabelHeading">
                <label id="seasonWrapperLabel"><h3>Season: <span id="yearLabel">1982</span></h3></label>
            </div>
            <div id="timeline-div" class="row">
                <div id="play-button-div"><button id="play-button" class="btn btn-primary">▶</button></div>
                <div id="slider-div"></div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align: center;">
                <div class="row">
                    <div class="btn-group">
                        <button id="active-button" value="active" class="btn btn-primary toggle-button active-cumulative-switch" disabled>Active Players</button>
                        <button id="cumulative-button" value="cumulative" class="btn btn-primary toggle-button active-cumulative-switch">All-Time</button>
                    </div>
                </div>
                <div class="row" style="margin-top: -25px;">
                    <div class="btn-group">
                        <button id="all-star-button" value="num_all_stars" class="btn btn-primary toggle-button total-allstar-switch">All-Stars</button>
                        <button id="all-player-button" value="num_players" class="btn btn-primary toggle-button total-allstar-switch" disabled>All Players</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <!-- <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align: center;">
                <div class="btn-group">
                    <button id="us-button" value="us" class="btn btn-primary toggle-button usa-world-switch" disabled>United States</button>
                    <button id="world-button" value="world" class="btn btn-primary toggle-button usa-world-switch">World</button>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div> -->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                 <div class="player-map" id="us-map"></div>
                 <!-- <div class="player-map" id="world-map"></div> -->
            </div>
            <div class="col-md-4">
                <div class="player-barchart" id="us-barchart"></div>
                <!-- <div class="player-barchart" id="world-barchart"></div> -->
            </div>                        
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-7 player-map" id="world-map"></div>
            <div class="col-md-4 player-barchart" id="world-barchart"></div>                      
        </div>
    	<div class="row">
        	<div class="col-md-6"></div>
        	<div class="col-md-6"></div>
        </div>
    </div> 


	<!-- External JS Libraries -->
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/jquery-ui.min.js"></script>
	<script src="static/js/d3.min.js"></script>
	<script src="static/js/d3-tip.js"></script>
    <script src="static/js/d3-geo.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script src="/static/js/puerto_rico_projection.js"></script>

	<!-- Custom JS -->
    <script src="/static/js/barchart.js"></script>
    <script src="/static/js/playermap.js"></script>
	<script src="/static/js/main.js"></script>

</body>

</html>

